# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual envs
.venv/
venv/
env/

# Local app data
cache/
reports/
carteiras.json

# Build artifacts
build/
dist/
*.spec

# IDE
.vscode/
.idea/
